
<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <title>Backbone.js, Require.js, and jQuery Mobile</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <script src="js/lib/require.js" data-main="js/mobile"></script>
</head>
<body>


<div id="search" data-role="page" data-title="Musocracy">

    <div data-role="header">
        <h1>Musocracy</h1>
    </div><!-- /header -->
    <div id="tab-container-search" data-role="navbar" data-iconpos="left">
        <ul>
            <li>
                <a href="#queue" data-transition="fade" data-theme="b" data-icon="check" >
                    Queue
                </a>
            </li>
            <li>
                <a href="#search" data-transition="fade" data-theme="b" data-icon="search" class="ui-btn-active">
                    Search
                </a>
            </li>
        </ul>
    </div>

    <div data-role="fieldcontain">
        <form id="search-form" action="#search?" >
            <label for="song-search">
            </label>
            <input name="song-search" id="" placeholder="Artist or Song Name" value="" type="search" />
        </form>
    </div>

    <div data-role="content">
        <ul id="search-results" data-role="listview" data-inset="true">
        </ul>
    </div><!-- /content -->
</div>



<div id="queue" data-role="page" data-title="Musocracy">
    <div data-role="header">
        <h1>Musocracy</h1>
    </div><!-- /header -->
    <div id="tab-container-queue" data-role="navbar" data-iconpos="left">
        <ul>
            <li>
                <a href="#queue" data-transition="fade" data-theme="b" data-icon="check" class="ui-btn-active">
                    Queue
                </a>
            </li>
            <li>
                <a href="#search" data-transition="fade" data-theme="b" data-icon="search" >
                    Search
                </a>
            </li>
        </ul>
    </div>

    <div data-role="content">
        <ul id="song-list" data-role="listview" data-inset="true">
        </ul>
    </div><!-- /content -->

</div>




<!-- Underscore Template that is used to display all of the Song Models -->
<script id="queuedItems" type="text/template">

    <% _.each( collection.toJSON(), function( song, id ) { %>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
        <a href="#" onclick="alert('Voted for song');"  data-icon="plus" data-iconpos="left" data-transition="slide" >"<%= song.name%></a>
    </li>

    <% }); %>

</script>

<script id="searchResults" type="text/template">

    <% _.each( collection.toJSON(), function( song, id ) { %>
    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
        <a href="javascript:;" onclick="alert('Action for song');"  data-icon="plus" data-iconpos="left" data-transition="slide" ><%= song.name%> </a>
    </li>

    <% }); %>

</script>


</body>
</html>