
<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <title>Backbone.js, Require.js, and jQuery Mobile</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />-->
    <link rel="stylesheet" href="css/musocracy.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="js/lib/require.js" data-main="js/mobile"></script>
</head>
<body>


<div id="home" data-role="page" data-title="Musocracy">

    <div data-role="header">
        <h1>Musocracy</h1>
    </div><!-- /header -->
    <div id="tab-container-search" data-role="navbar" data-iconpos="left">
        <ul>
            <li>
                <a href="#queue" data-transition="fade" data-theme="b" data-icon="check" >
                    Queue
                </a>
            </li>
            <li>
                <a href="#search" data-transition="fade" data-theme="b" data-icon="search" class="ui-btn-active">
                    Search
                </a>
            </li>
        </ul>
    </div>
    <div id="content-wrapper">

        <div data-role="fieldcontain">
            <form id="search-form" action="#search?" >
                <label for="song-search">
                </label>
                <input name="song-search" placeholder="Artist or Song Name" value="" type="search" />
            </form>
        </div>
        <div data-role="content">
            <ul id="results" data-divider-theme="b" data-role="listview" data-inset="true">
            </ul>
        </div>
    </div>
</div>

<script id="queuedItems" type="text/template">

    <% _.each( collection.toJSON(), function( song, id ) { %>

    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-first-child ui-btn-up-c">
        <div class="ui-btn-inner ui-li ui-li-has-alt">
            <div class="ui-btn-text">
                <a href="javascript:;" class="ui-link-inherit padding-left <%=song.disableVote%>">
                    <!--<img src="../../_assets/img/album-bb.jpg" class="ui-li-thumb">-->
                    <h2 class="ui-li-heading"><%=song.votes%> - <%=song.name%> </h2>
                    <p class="ui-li-desc"><%= song.artist%></p></a>
            </div>
        </div>
        <span href="javascript:;" data-name="<%=song.trackId%>" class="vote-action <%=song.disableVote%> ui-li-link-alt ui-btn ui-btn-icon-notext ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="false" data-iconpos="notext" data-theme="c" aria-haspopup="true" aria-owns="#purchase"><span class="ui-btn-inner"><span class="ui-btn-text"></span><span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="gear" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
        <span class="ui-btn-inner">
            <span class="ui-btn-text"></span>
            <span class="ui-icon ui-icon-arrow-u ui-icon-shadow">&nbsp;
            </span>
        </span>
        </span>
        </span>
        </span>
    </li>

    <% }); %>

</script>



<script id="searchResults" type="text/template">

    <% _.each( collection.toJSON(), function( song, id ) { %>
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-first-child ui-btn-up-c">
        <div class="ui-btn-inner ui-li ui-li-has-alt">
            <div class="ui-btn-text">
                <a href="javascript:;" class="<%=song.disableVote%> ui-link-inherit padding-left">
                    <!--<img src="../../_assets/img/album-bb.jpg" class="ui-li-thumb">-->
                    <h2 class="ui-li-heading"><%=song.name%> </h2>
                    <p class="ui-li-desc"><%= song.artists[0].name%></p></a>
            </div>
        </div>
        <span href="javascript:;" data-name="<%=song.href%>" class="add-action <%=song.disableVote%> ui-li-link-alt ui-btn ui-btn-icon-notext ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-icon="false" data-iconpos="notext" data-theme="c" aria-haspopup="true" aria-owns="#purchase"><span class="ui-btn-inner"><span class="ui-btn-text"></span><span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="gear" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
         <span class="ui-btn-inner">
             <span class="ui-btn-text"></span>
             <span class="ui-icon ui-icon-plus ui-icon-shadow">&nbsp;
             </span>
         </span>
         </span>
         </span>
        </span>
    </li>
    <% }); %>

</script>


</body>
</html>