
<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Musocracy</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css" />
    <!-- <link rel="stylesheet" href="css/musocracy.css" /> -->
    <script src="js/lib/require.js" data-main="js/mobile"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="nav nav-back" href="#location"><i class="icon-chevron-left icon-white"></i></a>
            <div class="text-center"><a id="home-link" class="brand center" href="/">Musocracy</a></div>
            <a id="header-search" class="nav nav-search" href="#"><i class="icon-search icon-white"></i></a>
            <form id="header-search-form" class="hidden navbar navbar-search pull right">
                <input id="header-song-search" type="text" class="search-query" placeholder="Song, Artist, or Album">
            </form>
        </div>

    </div>
</div>

<div class="container" id="container-wrapper">
    <form class="form-search hidden" id="location-submit">
        <label id="location-label"></label>
        <fieldset>
            <div class="input-append">
                <input type="text" placeholder="enter your location" id="location-input" class="span2 search-query">
                <button type="submit" class="btn">Submit</button>
            </div>
        </fieldset>
    </form>

    <div id="votes">
        <ul class="results"/>
    </div>
    <div id="search-results">
        <ul class="results"/>
    </div>

    <!--<div id="result-wrapper">-->
        <!--<ul id="results" class="media-list"></ul>-->
    <!--</div>-->
</div>


<script id="songs" type="text/template">

    <div class="media-body">
        <a class="pull-right vote-icon" href="javascript:;" ><i class="icon-arrow-up"></i></a>
        <h2 class="vote-count"><%=model.votes%></h2>
        <h4 class="media-heading song-primary ellipsis">
            <span class="song-name"><%=model.name%></span>
        </h4>
        <p class="song-secondary ellipsis">
            <span class="song-album-artist"><%= model.artists%> - <%= model.album%></span>
        </p>
    </div>

</script>

</body>
</html>
