li.song-list {
    list-style: none;
    cursor:pointer
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#container-wrapper{
    padding-top:50px;
    padding-left:10px;
}

a.vote-icon {
    padding-right:15px;
    margin-left:20px;
    margin-bottom:20px;
}

#location-submit{
    padding-top:25px;
}

ul#header-list,
ul#results{
    margin-left:25px;
}

.hidden {
    display:none;
}

li.song-list.disabled{
    opacity:.5;
    cursor:default;
}