li.song-list {
    list-style: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#container-wrapper{
    padding-top:50px;
    padding-left:25px;
}

a.vote-icon {
    padding-right:15px;
}

ul#header-list{
    margin-left:50px;
}

.hidden {
    display:none;
}